html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
}

a {
    color: #000;
}

.logo {
    display: none;
}

ul {
    list-style-type: none;
    font-family: "Hasklig", "Lucida Console", monospace;
    line-height: 1.4em;
}

.module-description {
    margin-bottom: 3em;
}

.content {
    margin: 3em auto auto auto;
    width: 80%;
    max-width: 610px;
    min-width: 400px
}

h1 {
    margin-bottom: 1em;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    margin-bottom: 0em;
}

h3 {
    margin: 0em;
    font-weight: 400;
}

.binder {
    margin: 0em 0em 3.5em 0em;
}

.sig {
    font-family: "Hasklig", "Lucida Console", monospace;
    margin: 0.5em 0em 0.5em 0em;
}

.args {
    background-color: #eee;
    display: inline-block;
    white-space: normal;
    margin: 0;
    margin-bottom: 1em;
}

code {
    background-color: #eee;
}

pre {
    background-color:  #eee;
    overflow-y: scroll;
}

.description {
    margin-top: 0.3em;
    font-size: 0.8em;
    color: #aaa;
}

.huge {
    font-size: 15em;
    margin: 0em;
}

/* Smaller screens */
@media only screen and (max-width: 600px) {
    .logo {
        margin: 1em;
        text-align: left;
        float: left;
        width: 100%;
    }
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .content {
        margin: 0.5em;
    }
    .binder {
        margin: 0em 0em 1.5em 0em;
    }
    .sig {
        font-size: 0.9em;
    }
    ul {
        padding: 0px;
    }
}
.title, .index { display: none; }
